<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Online Crop Marketing </title>
  <link rel="icon" href="images/peasant.png">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
</style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</head>

<body>
  <div class="front">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/main">Online Crop Marketing</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse  items navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/marketprice">Market Price</a>
          </li>
          <li class="nav-item active">
            <!--  <a class="nav-link" href="/compose">Compose <span class="sr-only">(current)</span></a> -->
            <div class="dropdown">
              <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Farmer
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a href="/compose" style="text-decoration:none"><button class="dropdown-item " type="button">Compose</button></a>

              </div>
            </div>
          </li>
          <li class="nav-item active">
          <!--  <a class="nav-link" href="/search">Search</a> -->
          <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buyer
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a href="/search" style="text-decoration:none"><button class="dropdown-item " type="button">Search</button></a>

            </div>
          </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contactus">Contact US</a>
          </li>
        </ul>

      </div>
    </nav>

  </div>
