<%- include('partials/homeheader') %>
<div class="container border-dark aboutus-container">
  <p  >India is a country that says that the farmers are the backbone of the country but still live in the
  backward area of the country because they didn’t get adequate prices for their crops. The farmers are
  getting suicide due to the low prices, which does not clear the debts that did for yielding the crop from
  year to year the farmer's deaths increased across the country.
  </p>
  <p>
  Our idea is to provide an application interface for the farmer to directly interact with the buyer without the interference of the broker. In
  this project, we are developing an app for registering both the farmers and the buyers. After
  registration, the buyers can check the availability of needed crops across the country. The farmers can
  compare the crop prices across the country and can get more benefits by using our application. The
  farmers after registering you can check the crop prices across the different parts of the country.
  Farmers can upload the quantity of their particular crop. The buyers can now the crop availability by
  selecting the particular crop and region. By selecting the crop and region the buyer can get notifications
  of the farmer details they are available for that particular region and location. The buyer can
  communicate with the farmer by contact details that were proposed by the notification. The farmers
  can also able to know the prices across the country for their particular crops.</p>

  <div class="aboutus-img">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_CgexnTerux.json"  background="transparent"  speed="1"  style="width: 400px; height: 350px;"  loop  autoplay></lottie-player>
  </div>

</div>
