<%- include('partials/homeheader') %>
<center><h1 style="margin-top:3rem;">No Farmer Found</h1></center>
<div class="failure-container">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_scgyykem.json"  background="transparent"  speed="1"  style="width: 50%; height: 50%;"  loop  autoplay></lottie-player>
</div>
