<%- include('partials/header') %>
<div class="login-container">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <h1 style="text-align:center">Login</h1>
      <hr>
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form action="/login" method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Email address</label>
              <input type="email" id="form1Example13" class="form-control form-control-lg" name="username" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">Password</label>
              <input type="password" id="form1Example23" class="form-control form-control-lg" value="FakePSW" id="myInput" name="password" />
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <!--<input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                -->
                <input type="checkbox" onclick="myFunction()">
                <label class="form-check-label" for="form1Example3"> Show Password </label>
              </div>
              <a href="#!">Forgot password?</a>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-lg btn-block" style="border:3px solid black">Sign in</button>
            <button type="submit" class="btn btn-dark btn-lg btn-block"> <a href="/register" style="text-decoration: none; color:white">Register</a></button>
          </form>

        </div>
      </div>
    </div>
  </section>
</div>

<%- include('partials/footer') %>
