<%- include('partials/homeheader') %>
<div class="container">

  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
      <tr>
        <th scope="col">Place</th>
        <th scope="col">Commodity</th>
        <th>Units</th>
        <th scope="col">Maximum Price</th>
        <th scope="col">Average Price</th>
        <th scope="col">Minimum Price</th>

    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"> <b> Adoni</b></td>
      </tr>
      <tr>
        <td scope="row">Adoni</td>
        <td><b><i>Castor Seed</i></b></td>
        <td>Quintal</td>
        <td>6,173</td>
        <td>6,173</td>
        <td>3,627</td>
      </tr>
      <tr>
        <td scope="row">Adoni</td>
        <td><b><i>Cotton</i></b></td>
        <td>Quintal</td>
        <td>7,390</td>
        <td>6,899</td>
        <td>4,003</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b> Ananthapuram</b></td>
      </tr>
      <tr>
        <td scope="row">Ananthapuram</td>
        <td><b><i>Cotton</i></b></td>
        <td>Quintal</td>
        <td>1,460</td>
        <td>2,100</td>
        <td>3,500</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b>Denduluru</b></td>
      </tr>
      <tr>
        <td scope="row">Denduluru</td>
        <td><b><i>Lemon</i></b></td>
        <td>Quintal</td>
        <td>5,000</td>
        <td>2,600</td>
        <td>2,500</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b> Eluru</b></td>
      </tr>
      <tr>
        <td scope="row">Eluru</td>
        <td><b><i>Lemon</i></b></td>
        <td>Quintal</td>
        <td>6,500</td>
        <td>4,000</td>
        <td>3,000</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b> Guntur</b></td>

      </tr>

      <tr>
        <td scope="row">Guntur</td>
        <td><b><i>Chilli Badiga</i></b></td>
        <td>Quintal</td>
        <td>53,000</td>
        <td>31,000</td>
        <td>18,000</td>
      </tr>
      <tr>
        <td scope="row">Guntur</td>
        <td><b><i>Chilli Teja A/C</i></b></td>
        <td>Quintal</td>
        <td>24,000</td>
        <td>24,000</td>
        <td>19,000</td>
      </tr>
      <tr>
        <td scope="row">Guntur</td>
        <td><b><i>Chilli-273</i></b></td>
        <td>Quintal</td>
        <td>24,000</td>
        <td>21,000</td>
        <td>12,300</td>
      </tr>
      <tr>
        <td scope="row">Guntur</td>
        <td><b><i>Chilli-334</i></b></td>
        <td>Quintal</td>
        <td>33,500</td>
        <td>20,500</td>
        <td>10,000</td>
      </tr>
      <tr>
        <td scope="row">Guntur</td>
        <td><b><i>Chilli-341</i></b></td>
        <td>Quintal</td>
        <td>27,000</td>
        <td>25,500</td>
        <td>10,000</td>
      </tr>
      <tr>
        <td scope="row">Guntur</td>
        <td><b><i>Chilli-Devanuru</i></b></td>
        <td>Quintal</td>
        <td>26,500</td>
        <td>22,000</td>
        <td>13,000</td>
      </tr>
      <tr>
        <td scope="row">Guntur</td>
        <td><b><i>Chilli-Teja</i></b></td>
        <td>Quintal</td>
        <td>26,000</td>
        <td>22,500</td>
        <td>7,000</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b> Gurramkonda</b></td>
      </tr>
      <tr>
        <td scope="row">Gurramkonda</td>
        <td><b><i>Tomato</i></b></td>
        <td>Quintal</td>
        <td>960</td>
        <td>880</td>
        <td>680</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b> Hindupur</b></td>
      </tr>
      <tr>
        <td scope="row">Hindupur</td>
        <td><b><i>Red Chilli-DRY</i></b></td>
        <td>Quintal</td>
        <td>60,000</td>
        <td>21,000</td>
        <td>8,000</td>
      </tr>
      <tr>
        <td scope="row">Hindupur</td>
        <td><b><i>Tamarind Flower</i></b></td>
        <td>Quintal</td>
        <td>10,000</td>
        <td>4,000</td>
        <td>4,000</td>
      </tr>
      <tr>
        <td scope="row">Hindupur</td>
        <td><b><i>Tamarind Karpuli</i></b></td>
        <td>Quintal</td>
        <td>24,800</td>
        <td>12,000</td>
        <td>9,700</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b> Kadapa</b></td>
      </tr>
      <tr>
        <td scope="row">Kadapa</td>
        <td><b><i>Ground Nut</i></b></td>
        <td>Quintal</td>
        <td>6,957</td>
        <td>5,696</td>
        <td>4,390</td>
      </tr>
      <tr>
        <td scope="row">Kadapa</td>
        <td><b><i>Turmeric Finger</i></b></td>
        <td>Quintal</td>
        <td>5,757</td>
        <td>5,296</td>
        <td>4,412</td>
      </tr>
      <tr>
        <td style="text-align:center"> <b> Kalikiri</b></td>
      </tr>
      <tr>
      <td scope="row">Kalikiri</td>
      <td><b><i>Tomato</i></b></td>
      <td>Quintal</td>
      <td>1,300</td>
      <td>1,000</td>
      <td>660</td>
    </tr>
    <tr>
      <td style="text-align:center"> <b> Kurnool</b></td>
    </tr>
    <tr>
    <td scope="row">Kurnool</td>
    <td><b><i>Onion</i></b></td>
    <td>Quintal</td>
    <td>925</td>
    <td>485</td>
    <td>361</td>
  </tr>
  <tr>
  <td scope="row">Kurnool</td>
  <td><b><i>Red Chilli-DRY</i></b></td>
  <td>Quintal</td>
  <td>44,199</td>
  <td>16,899</td>
  <td>11,596</td>
</tr>
<tr>
<th scope="row">Kurnool</th>
<td><b><i>Chilli-Teja</i></b></td>
<td>Quintal</td>
<td>19,509</td>
<td>19,509</td>
<td>16,596</td>
</tr>
<tr>
<td scope="row">Kurnool</td>
<td><b><i>URAD(Black Gram)</i></b></td>
<td>Quintal</td>
<td>7,216</td>
<td>7,111</td>
<td>6,596</td>
</tr>
<tr>
<td scope="row">Kurnool</td>
<td><b><i>Ground Nut</i></b></td>
<td>Quintal</td>
<td>7,329</td>
<td>6,110</td>
<td>2,222</td>
</tr>
<tr>
  <td style="text-align:center"> <b> Piduguralla</b></td>
</tr>
<tr>
  <td scope="row">Piduguralla</td>
  <td><b><i>Chilli-334</i></b></td>
  <td>Quintal</td>
  <td>23,6000</td>
  <td>18,000</td>
  <td>14,400</td>
</tr>
<tr>
  <td scope="row">Piduguralla</td>
  <td><b><i>Chilli-Teja</i></b></td>
  <td>Quintal</td>
  <td>22,000</td>
  <td>18,500</td>
  <td>15,000</td>
</tr>
<tr>
  <td scope="row">Piduguralla</td>
  <td><b><i>Chilli-Thaalu</i></b></td>
  <td>Quintal</td>
  <td>14,500</td>
  <td>14,200</td>
  <td>10,000</td>
</tr>


      <tr>
        <td style="text-align:center"> <b> Tenali</b></td>

      </tr>
      <tr>
        <td scope="row">Tenali</td>
        <td><b><i>Lemon</i></b></td>
        <td>Quintal</td>
        <td>6,000</td>
        <td>4,020</td>
        <td>4,000</td>
      </tr>

      
    </tbody>
  </table>
</div>
