<%- include('partials/homeheader') %>
<div class="container">

  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Place</th>
        <th scope="col">Commodity</th>
        <th scope="col">Maximum Price</th>
        <th scope="col">Average Price</th>
        <th scope="col">Minimum Price</th>

    </thead>
    <tbody>
      <tr>
        <th scope="row">Guntur</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>


      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
      </tr>
    </tbody>
  </table>
</div>
