.navbar-brand{

      margin-left: 2rem;
      font-family: 'Urbanist', sans-serif;
        font-size:1.8rem;
}
.items{
    font-family: 'Urbanist', sans-serif;
    font-size:1.2rem;}

body {
 background-color: #E8ECEF;
}

.login-container{
  background-color: white;
  margin-top:-10rem;
  font-family: 'Urbanist', sans-serif;
  font-size:1.5rem;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.card{
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right:20rem;
  margin-bottom:10rem;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.dropdown-item{
  border-color: black;
    background-image: linear-gradient( #2c3e50, black);
    color: white;
    border: 2px;
  border-radius: 25px;
}
.container{
  margin-top: 10rem;
}
.footer-padding {
	padding-bottom: 60px;
}
.navbar{
  background-image: linear-gradient(  #141e30, black);
/*  background-image: linear-gradient(to right, #434343 0%, black 100%);*/
/*-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  border-radius: 4px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
/*	background-color: black; */
  background-image: linear-gradient(  #141e30, black);
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.imagelogo{
      top: 50%;
       left: 50%;
       width: 30em;
       height: 18em;
       margin-top: -21em;
       margin-left: -10em;
       position: absolute;
}
.display-3{
  padding:1rem;
}
.aboutus-img{
  top: 60%;
   left: 40%;
   width: 30em;
   height: 18em;

  position: absolute;

}
.textaboutus{

    margin-top:100px;

}
.imagelogohome{
  top: 50%;
   left: 50%;
   width: 30em;
   height: 18em;
   margin-top: -21em;
   margin-left: -10em;
   position: absolute;
}
.composeContainer{
  margin-top:2rem;
}
.searchContainer{
  margin-top:1rem;
}
.seachDataBox{
     border-color:black;
     border: 100px;
     margin-left: 16rem;

}
.seachDataBox {

     position: absolute;


   }
.failure-container{

      margin-left:28rem;
}
.nav-item{
    padding:0.5rem;
}
